.f_p_card{
    position: relative;
    width: calc(20% - 8px);
    overflow: hidden;
    aspect-ratio: 3/4;

    border-radius: 10px;

    figure{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.37);
        background-image: url("https://deportevaldeorras.s3.eu-north-1.amazonaws.com/orange_wii_fit_trainer__male__by_daxegana_dg7q7kv-fullview.png");
        background-size:cover;
        background-position: center;
        img{
            transition: ease-in-out 0.7s;
            height: 100%;
        }
        figcaption{
            width: 110%;
            position: absolute;
            bottom: 5px;
            text-align: center;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;

            transition: ease-in-out 0.7s;
            h1{
                text-align: center;
            }
            span{
                transition: ease-in-out 0.7s;
            }
        }
    }
    .f_p_info{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 100%;
        padding: 10%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;


        background: linear-gradient(180deg, rgba(29,29,30,0) 33%, rgba(29,29,30,0.6) 100%);
        transition: ease-in-out 0.7s;
        span{
            width: 100%;
            height: 30px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                position: absolute;
                top: 10px;
            }
        }
        p{
            line-height: 14px;
        }
        h4{
            line-height: 16px;
            margin-bottom: 3px;
        }
    }
}
.f_p_card:hover{
    img{
        transition: ease-in-out 0.7s;
        transform: scale(1.2);
    }
    figcaption{
        transition: ease-in-out 0.7s;
        transform: scale(1.2);
        bottom: 20%;
        opacity: 0.4;
        span{
            transition: ease-in-out 0.7s;
            opacity: 0;
        }
    }
    .f_p_info{
        transition: ease-in-out 0.7s;
        top: 0;
    }
}
.f_a_card{
    width: 100%;
    display: flex;
    position: relative;
    gap: 10px;
    margin-top: 20px;
    span{
        position: absolute;
        top: -15px;
        left: -15px;
        text-align: center;
        z-index: 5;

        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        background-color: #FF3C01;
        padding: 5px 20px 5px 30px;
        // clip-path: polygon(10% 0%, 100% 0%,90% 100%, 0% 100%);
        border-radius: 10px;

        }
    figure{
        width: calc(20% - 5px);
        aspect-ratio: 3/4;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
            border-radius: 10px;

       img{
                height: 100%;
        }
    }
    .f_a_info{
        width: calc(50% - 5px);
        height: 100%;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        span{
            width: 100%;
            height: 30px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                position: absolute;
                top: 10px;
            }
        }
        p{
            line-height: 14px;
            margin-top: 5px;
        }
        h3{
            line-height: 16px;
            margin: 10px 0 10px 10px;
        }
        h4{
            line-height: 16px;
            margin: 15px 0 10px 0;
        }
    }
}

@media (min-width: 481px) and (max-width: 980px){
    .f_p_card{
        position: relative;
        width: calc(33% - 5px);
        overflow: hidden;
        aspect-ratio: 3/4;
    
        border-radius: 10px;
    }
    .f_a_card{
        figure{
            
            width: calc(33% - 5px);
            }
    }
}
@media (max-width: 480px) {
    .f_p_card{
        position: relative;
        width: calc(50% - 5px);
        overflow: hidden;
        aspect-ratio: 3/4;
    
        border-radius: 10px;
    }
    .f_a_card{
        figure{
            
            width: calc(50% - 5px);
            }
    }
}