* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  border: none;
  list-style: none;
  text-decoration: none;
  text-align: start;
  transition: ease-in-out 0.7s;
}
body{
  background-color: #FAFAFB ;
  scroll-behavior: smooth;
}

//otros

.black_screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #2d2a26;
  opacity: 0.5;
  z-index: 1;
}

.bg-w {
  background-color: #FAFAFB;
}
.bg-n {
  background-color: #FAFAFB00;
}

//Contenedores

#root {
  width: 100vw;
  overflow: scroll;
  // position: sticky;
  // top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
   
}
#none{
  width: 100vw;
  overflow: hidden;
  }

.container {
  width: 1280px;
  max-width: 90%;
  min-height: calc(100vh - 3vw) ;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 5;
  &_row{
    @extend .container;
    flex-direction: row;
  }
  
}
@media (max-width: 480px) {
  .container {
  padding: 20px 0;
  }
}

  // Barra Navegación

  ::-webkit-scrollbar {
      display: none;
    }
    
    body {
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
    
    .simplebar-scrollbar::before {
      background: linear-gradient(
        150deg,
        rgba(135, 206, 235, 1) 20%,
        rgba(70, 130, 180, 1) 100%
      ) !important;
    }
    .simplebar-track {
      border-radius: 10px;
    }
    .simplebar-content-wrapper {
      height: 70vh;
      width: 80vw;
    }

    //Botones

    .btt_dd{
      position: relative;
      height: 40px;
      padding: 5px 20px;

      background-color: rgba(255, 255, 255, 0);
      border-bottom: 3px rgba(255, 255, 255, 0) solid;

      display: flex;
      align-items: flex-end;
      svg{
        position: relative;
        top: 3px
      }
      div{
        max-height: 0;
        position: absolute;
        width: fit-content;
        z-index: 10;
        top: 40px;
        left: 0px;
        padding: 0;
        border-radius:  0 0 10px 10px ;

        background-color: #fafafbbc;

        display: flex;
        flex-direction: column;
        gap: 10px;
        
        a{
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        a:hover{
          color: #ff8a67;
        }

      }
    }
    .btt_dd:hover, .btt_dd:active{
      background-color: #766e6411;
      border-bottom: 3px #ff8a67 solid;
      div{
        max-height: 500px;
        padding: 20px 20px 10px 20px;
      }
    }
    .btt_dd.act{
      border-bottom: 3px #ff3c01 solid;
      svg{
        position: relative;
        transform: rotatex(180deg);
      }
    }